{% extends 'base.html.twig' %}

{% block title %}Role index
{% endblock %}

{% block body %}
	<h1>Role index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Slug</th>
				<th>Created_at</th>
				<th>Deleted_at</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for role in roles %}
				<tr>
					<td>{{ role.id }}</td>
					<td>{{ role.name }}</td>
					<td>{{ role.slug }}</td>
					<td>{{ role.createdAt ? role.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ role.deletedAt ? role.deletedAt|date('Y-m-d H:i:s') : '' }}</td>

					<td>

						<a class="btn-sm btn btn-warning" href="{{ path('app_role_show', {'id': role.id}) }}">
							<i class="sl sl-icon-pencil"></i>
						</a>

						<a class="btn-sm btn btn-danger" href="{{ path('app_role_edit', {'id': role.id}) }}">
							<i class="sl sl-icon-close"></i>
						</a>


					</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_role_new') }}">Create new</a>
{% endblock %}
